Source: velora-log-viewer
Section: utils
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Build-Depends:
 debhelper-compat (= 11),
 cmake,
 pkg-config,
 qt6-5compat-dev,
 qt6-base-dev,
 qt6-tools-dev-tools,
 qt6-tools-dev,
 qt6-svg-dev,
 libdtk6widget-dev,
 libdtk6gui-dev,
 libdtk6core-dev,
 libdtk6declarative-dev,
 libkf6codecs-dev,
 libpolkit-qt6-1-dev,
 libsystemd-dev,
 libicu-dev,
 libgtest-dev,
 libgmock-dev,
 libzip-dev,
 libxerces-c-dev,
 libboost-dev,
 libminizip-dev,
 rapidjson-dev,
 libltdl-dev,
 libgio-qt-dev
Standards-Version: 4.5.0
Homepage: https://github.com/LingmoOS/velora-log-viewer

Package: deepin-log-viewer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 coreutils,
 util-linux,
 procps,
 apt,
 dpkg,
 systemd,
 pciutils,
 lshw,
 dmidecode,
 udisks2,
 hwinfo
Description: Log Viewer is a useful tool for viewing system logs.
 Log viewer is a tool that collects logs generated when an application
 is running, for example, logs generated when operating system and
 applications start up and run. You can do trouble-shooting and solve
 problems quickly by analyzing logs.
Recommends: uos-reporter, deepin-event-log, deepin-license-activator

Package: liblogviewerplugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts:
 liblog-viewer-plugin
Replaces:
 liblog-viewer-plugin
Recommends: libqt5libqgtk2
Description: Log Viewer Plugin library.
 Deepin Log Viewer Plugin library.

Package: liblogviewerplugin-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, liblogviewerplugin(=${binary:Version})
Conflicts:
 liblog-viewer-plugin-dev
Replaces:
 liblog-viewer-plugin-dev
Recommends: libqt5libqgtk2
Description: Log Viewer Plugin library development headers.
 Deepin Log Viewer Plugin library development headers.
